@charset "UTF-8";
/*** variables ***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.heade {
  display: flex;
  justify-content: center;
}

.logo {
  width: 162px;
  height: 44px;
  margin-bottom: 5px;
}

.headeresto {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.fa-arrow-left {
  left: 15px;
}

.arrow-icon {
  font-weight: 1200;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.botonRose {
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: 0px solid transparent;
  color: white;
  font-size: 16px;
}

.botonRose:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.elementoh3 {
  padding-left: 10px;
  font-size: 16px;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  width: 130px;
}

.elementoh3 input {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: none;
  outline: none;
  background: transparent;
  width: auto;
}

.icon {
  color: #9356DC;
  padding-left: 15px;
}

.fotomenu {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  border-radius: 20px;
  bottom: 100px;
}

.titreplat {
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.titrepart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 17px;
  padding-top: 20px;
}

.ttp {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.conteneurvert {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
}

.textemenu {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  gap: 5px;
}

.prix {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 15px;
}

.main {
  height: 1400px;
  background-color: #F6F6F6;
}

/**** resto***/
.grostitre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  gap: 3px;
}

.imagen {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.deroulement {
  box-sizing: border-box;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 15px;
  position: absolute;
  top: 283px;
}

.barreverte {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-left: 13px;
}

.titreetape {
  padding-left: 13px;
  padding-top: 40px;
  padding-bottom: 5px;
}

.detallemenu {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Agregamos ancho máximo para evitar que se salga del espacio */
}

.focustexte,
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardmenuresto:active .detallemenu {
  max-width: calc(100% - 70px); /* Disminuimos el ancho máximo cuando se activa el coche */
}

.cardmenuresto:active .detallemenu.ellipsis {
  text-overflow: clip; /* Mostramos todo el texto en lugar de puntos suspensivos */
}

.cardmenuresto:active .precio {
  transform: translateX(-50px);
}

.cardmenuresto:active .coche {
  display: block;
  transform: translateX(-50px);
  /* Agregamos esta regla para cambiar la clase de .detallemenu cuando se activa el coche */
  pointer-events: none;
}

.cardmenuresto:active .coche + .detallemenu.ellipsis {
  /* Agregamos esta regla para mostrar puntos suspensivos solo si el texto es demasiado largo */
  text-overflow: ellipsis;
}

.cardmenuresto:active .detallemenu:not(.ellipsis) {
  /* Agregamos esta regla para evitar que se corte el texto cuando no se activa el coche */
  white-space: normal;
  overflow: visible;
}

.ville {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  color: #353535;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  background-color: #f6f6f6;
  align-items: start;
  padding-bottom: 25px;
  border-radius: 0px;
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 80px;
  font-size: 24px;
  padding-top: 25px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.decouvrez {
  height: 46px;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-top: 22px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 20px;
  box-sizing: border-box;
}

.fonctionnementitre {
  font-size: 24px;
  margin-bottom: 0px;
}

.circle {
  top: 25px;
  left: -15px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.icon {
  color: #9356DC;
}

/**** ****/
.Restaurants {
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  background-color: #F6F6F6;
  height: 1150px;
  padding-left: 14px;
  padding-right: 14px;
}

.resto {
  padding-left: 15px;
}

.cardrestaurants {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardresto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
}

.contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 77px;
}

.images {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.image-container {
  position: relative;
}

.texte {
  padding-left: 10px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
}

.texte p {
  margin: 5px;
}

.iconocard {
  padding-top: 25px;
  padding-right: 25px;
}

.icone {
  font-size: 22px; /* Cambia el tamaño del icono según sea necesario */
  color: white; /* Color del icono (blanco en este caso) */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Borde negro alrededor del icono */
}

.iconocard {
  display: inline-block;
  position: relative;
}

.iconocard:hover .icone {
  color: transparent;
}

.iconocard::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-size: 23px;
  font-weight: 900;
  position: absolute;
  top: 19.5;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  pointer-events: none; /* Evita que el pseudo-elemento interfiera con los eventos del mouse */
  transition: opacity 0.1s; /* Añade una transición suave al cambiar el estilo */
}

.iconocard:hover::before {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 25px;
  gap: 5px;
  background-color: #353535;
  font-family: roboto;
  font-weight: 500;
  color: white;
}

.ffooter {
  position: absolute;
  width: 100%;
  bottom: -700px;
}

.logofooter {
  width: 137px;
  height: 27px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.proposer {
  display: flex;
  flex-direction: row;
  height: 19px;
  font-size: 16px;
  gap: 10px;
}

.devenir {
  display: flex;
  flex-direction: row;
  height: 19px;
  font-size: 16px;
  gap: 10px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #f6f6f6;
    padding-bottom: 25px;
  }
  .reservez {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .decouvrez {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    padding-top: 22px;
    padding-left: 30px;
  }
  .fonctionnementitre {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .rowfontionnement {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
  }
  .Restaurants {
    padding-top: 15px;
    background-color: #F6F6F6;
    height: 650px;
    padding-left: 30px;
  }
  .resto {
    padding-left: 15px;
  }
  .tablet {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .cardrestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 251px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    padding-top: 0;
  }
  .contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 77px;
  }
  .images {
    object-fit: cover;
    width: 100%;
    height: 174px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .texte {
    padding-left: 10px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 16px;
  }
  .texte p {
    margin: 5px;
  }
  .iconocard {
    padding-top: 25px;
    padding-right: 10px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 25px;
    gap: 5px;
    background-color: #353535;
    font-family: roboto;
    font-weight: 500;
    gap: 20px;
    color: white;
  }
  .contacto {
    color: white;
  }
  .logofooter {
    width: 137px;
    height: 27px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
  }
  .options {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .proposer {
    display: flex;
    flex-direction: row;
    height: 19px;
    font-size: 16px;
    gap: 10px;
  }
  .devenir {
    display: flex;
    flex-direction: row;
    height: 19px;
    font-size: 16px;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #f6f6f6;
    padding-bottom: 25px;
  }
  .reservez {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .decouvrez {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    height: 210px;
    padding-top: 22px;
    padding-bottom: 10px;
  }
  .fonctionnementitre {
    font-size: 24px;
    margin-bottom: 0px;
    padding-left: 100px;
  }
  .rowfontionnement {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding-left: 100px;
    gap: 30px;
  }
  .Restaurants {
    padding-top: 15px;
    background-color: #F6F6F6;
    height: 650px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .resto {
    padding-left: 100px;
  }
  .tablet {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 100px;
  }
  .cardrestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 251px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 90px;
  }
  .contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 77px;
  }
  .images {
    object-fit: cover;
    width: 100%;
    height: 174px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .texte {
    padding-left: 10px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 16px;
  }
  .texte p {
    margin: 5px;
  }
  .iconocard {
    padding-top: 25px;
    padding-right: 10px;
  }
  .footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 25px;
    gap: 5px;
    background-color: #353535;
    font-family: roboto;
    font-weight: 500;
    gap: 20px;
    color: white;
  }
  .logofooter {
    width: 137px;
    height: 27px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    padding-left: 50px;
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .options {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .proposer {
    display: flex;
    flex-direction: row;
    height: 19px;
    font-size: 16px;
    gap: 10px;
  }
  .devenir {
    display: flex;
    flex-direction: row;
    height: 19px;
    font-size: 16px;
    gap: 10px;
    padding-right: 30px;
  }
}
@media (min-width: 1025px) {
  .fonctionnement {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 228px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fonctionnementitre {
    font-size: 24px;
    left: 180px;
  }
  .rowfontionnement {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }
  .cardfonctionnement {
    height: 72px;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    gap: 17px;
    padding-left: 26px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-right: 0px;
    width: 332px;
  }
  .Restaurants {
    padding-top: 15px;
    background-color: #F6F6F6;
    height: 650px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .cardrestaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 38%;
    height: 251px;
    gap: 11px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 90px;
    padding-top: 0;
  }
}
@media (min-width: 1441px) {
  .cardrestaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 38%;
    height: 251px;
    gap: 91px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 90px;
    padding-top: 0;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.google.com/specimen/Roboto");
  font-weight: 500;
}
.fontsecond {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.selector {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
}

.gris {
  color: #7E7E7E;
  padding-left: 15px;
}

.rose {
  color: #9356DC;
  font-size: 22px;
}

.nouveau {
  background-color: #99E2D0;
  color: #008766;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 80px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  padding-top: 7px;
  border-radius: 2px;
}

.fri {
  margin-top: 40px;
  margin-bottom: 40px;
}

.focustexte {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

.precio {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 20px;
  transition: all 1s ease-out;
}

.description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.cardfonctionnement {
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  gap: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-right: 0px;
}

.cardmenu {
  background-color: white;
  height: 69px;
  width: 95%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.cardmenuresto {
  box-sizing: border-box;
  width: 90%;
  background-color: white;
  height: 69px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 13px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
}

.ffooter {
  box-sizing: border-box;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .cardfonctionnement {
    height: 72px;
    width: 320px;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    gap: 10px;
    padding-left: 5px;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
  }
  .deroulement {
    width: 70%;
    left: 15%;
    right: 15%;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
  }
  .ffooter {
    position: absolute;
    width: 100%;
    bottom: -630px;
  }
  .grostitre {
    justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1024px) {
  .cardfonctionnement {
    height: 72px;
    width: 25%;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    gap: 10px;
    padding-left: 5px;
    padding-right: 0px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
  }
  .deroulement {
    width: 70%;
    left: 15%;
    right: 15%;
    border-left: solid transparent 100px;
    border-right: solid transparent 100px;
  }
  .ffooter {
    position: absolute;
    width: 100%;
    bottom: -630px;
  }
  .grostitre {
    justify-content: center;
    gap: 50px;
  }
}
.fleche {
  color: #353535;
  font-size: 16px;
  position: absolute;
  top: 14px;
  left: 23px;
}

.boutoncommander {
  display: flex;
  justify-content: center;
}

.corazon {
  font-size: 22px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  color: transparent;
}

.loader {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: hideLoader 3s forwards;
  overflow: hidden;
}

@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loadi {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 10px;
}

.progress {
  display: flex;
  height: 20px;
  width: 300px;
  border: 2px solid #9356DC;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.bar {
  height: 15px;
  width: 290px;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transform-origin: 0% 50%;
  animation: fillBar 3s forwards;
}

@keyframes fillBar {
  100% {
    transform: scaleX(1);
  }
}
/*** animation decalage **/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.decalage, .decalage1, .decalage2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.decalage1 {
  animation-delay: 0.5s;
}

.decalage2 {
  animation-delay: 1s;
}

.coche {
  height: 69px;
  width: 59px;
  right: 0;
  top: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  right: 0;
  opacity: 0;
  transform: translateX(100%); /* Empieza la animación fuera de la pantalla a la derecha */
  animation: slideCoche 1s forwards;
  z-index: 1;
  transition: all 1s ease-out;
}

.validation .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.validation .circle i {
  color: #99E2D0;
}

.cardmenuresto:active .coche {
  display: block;
}

@keyframes slideCoche {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Termina la animación en su posición original */
  }
}
.cardmenuresto:active .coche {
  /* Código existente */
  transform: translateX(-50px); /* Mover el coche hacia la izquierda */
}

.cardmenuresto:active .precio {
  /* Código existente */
  transform: translateX(-50px); /* Mover el precio hacia la izquierda */
}

/*# sourceMappingURL=style.css.map */
